/*#ips{
        border: 4px solid; green;
        background-color: darkred;
        font-family: cursive;
        font-size: 40px;

}

p{
        color: red;
/*        font-size: 30px;*/


/*div{
        background-color: green;
        height: 50px;
        width: 50px;
}
*/
/*input[type]{
        color: yellow;
        background-color: green;
        height: 100PX;
        width: 400PX;
}
input[type="text"]{
        color: darkred;
}
input[type="number"]{
        color: darkblue;
}
a[href]{
        background-color: pink;
        height: 100PX;
}*/

/*a:link {
        color: red;
}
a:visited {
        color: green;
}
a:hover {
        color: darkblue;
        font-size: 100px;
}
a:active {
        color: yellow;
}*/


body{
        background-image: url('rama.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}

/*.hero{
        color: skyblue;
        padding-top: 70px;
        padding-left: 85px;
}*/